In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset=dataset.astype(int)
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [7]:
independ=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independ

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [9]:
depend=dataset[['charges']]
depend

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import GridSearchCV

In [12]:
from sklearn.svm import SVR
param={'kernel':['rbf','poly','sigmoid','linear'],'C':[10,100,1000,2000],'gamma':['auto','scale']}

In [ ]:
grid=GridSearchCV(SVR(),param,refit=True,verbose=3,n_jobs=-1)
grid.fit(independ,depend)

Fitting 5 folds for each of 32 candidates, totalling 160 fits

In [ ]:
res=grid.cv_results_
print("The R_Score value for bet parameter{}:".format(grid.best_params_))

In [ ]:
table=pd.DataFrame.from_dict(res)

In [ ]:
table

In [ ]:
Age=input("Age:")
BMI=input("BMI:")
children=input("Children:")
sex=input("Male 0 or1:")
smoke=input("Smoke yes 0 or 1:")

In [ ]:
Future_Prediction=grid.predict([[Age,BMI,children,sex,smoke]])
print("Future_Prediction={}".format(Future_Prediction))